.game-container {
	height: 100%;
	background-position-y: bottom !important;
	transition: all cubic-bezier(.29, 1.01, 1, -0.68) 1s;
}

#game-area {
	display: none;
	grid-template-columns: repeat(40, 1fr);
	grid-template-rows: repeat(20, 1fr);
	height: 100%;
}

