.game-container {
	height: 100%;
	background-position-y: bottom !important;
	transition: all cubic-bezier(.29, 1.01, 1, -0.68) 1s;
}

#g-btn-settings {
	grid-column: 38 / 40;
	grid-row: 1 / 3;
	opacity: 0;
	transition: opacity 1s;
}

#g-div-settings {
	grid-column: 33 / 40;
	grid-row: 3 / 8;
}

#game-area {
	display: none;
	grid-template-columns: repeat(40, 1fr);
	grid-template-rows: repeat(20, 1fr);
	height: 100%;
}