.vol-buttons {
	background-size: 50px 50px !important;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.btn-settings {
	background: url('../images/controls/settings.png') no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	grid-column: 19 / 20;
	grid-row: 2 / 4;
	justify-self: flex-end;
}

.div-settings {
	background: url('../images/home/conf_surf.jpg') no-repeat;
	background-size: 100% 100%;
	grid-column: 16 / 20;
	grid-row: 4 / 9;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	box-shadow: 5px 10px 7px 0 rgba(0,0,0,0.5);
	display: none;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 20% 1fr;
	padding: 0.5rem;
	align-items: center;
}

.vol-ctrl {
	grid-column: 1 / 4;
	grid-row: 1;
	width: 100%;
    font-size: 2rem;
    text-align: center;
}

.l-vol-up {
	grid-column: 1;
	grid-row: 2;
}

.l-vol-mut {
	grid-column: 2;
	grid-row: 2;
}

.l-vol-down {
	grid-column: 3;
	grid-row: 2;
}


#home-container {
	background: url('../images/home/back_ini.jpg') no-repeat;
	background-size: 100% 100%;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
	height: 100%;
	justify-items: center;
	align-items: center;
}

#level {
	grid-column: 4 / 8;
	grid-row: 16 / 19;
	width: 100%;
	height: 100%;
	font-size: 0.9rem;
    color: white;
    text-shadow: 2px 2px red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: start;
    padding: 1.1rem 0 0 3rem;
}